/* commenting method is same for html */
/* CSS Selector */
/* In CSS, you can enter multiple properties inside the selector to change the style of the element */

/*  CSS STYLING SPECIFICITY
inline styling has highest priority over internal and external styling

CSS styling prioritization
inline>internal>external
*/

/* id>class>htmltag>attribute??>universal selector */

/* !important property will override the hierachy 

if all !important the hierarchy will still be followed */
/* h1{
    color:red !important;
    background-color: pink;
}  */



/* asterisk selector is the universal selector, used to target all elements inside the html tag;

font-family: changes the style of the font
    Courier New- font to be used by the webpage to display text
    monospace- family from which the browser will try to search for a font once Courier New is not available
font-size- changes the font size
    20px- value/size of text
*/
*{
    font-family:"Courier New", monospace;
    font-size: 20px;
}

/* ID selector */
/* id selector- this is commonly used to provide unique styling for an element; unique and dev assigned */
/* #idName */
/* 
letter spacing- used to change the spaces between characters/letters
 */

#zuitt-motto{
    letter-spacing: 5px;

}
/* CSS Specificity
id selector has highest priority 
universal selector has the lowest 
*/

/* h3{
    letter-spacing: 25px;
} */
/* Class selector */
.offering-item{
    text-transform: uppercase;
}
/* Attribute selector
    will only work if the element has the exact attribute that is specified in the selector (case sensitive)
    SYNTAX:
    tag[attribute] */
input[required]{
    border-width: 2px;
    border-style: solid;
    border-color: navy;
}

/* Combination selectors */
/* These selectors require two selector but the target is the last selector */


/* ADJACENT SIBLING SELECTOR */
/* a selector that is used to target the selector that is next to the first selector*/

/*in combination selectors, devs are not restricted to use uniform/one tag for both, the firstSelector can be a class/id/tag while the secondSelector can be of diff selector */

/* border-radius changes the corners of the img element from sharp to rounded corner */

h3+img{
    height: 300px;
    width: 300px;
    border-radius: 150px;

}

/* #zuitt-motto+img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
} */

/* DESCENDANT SELECTOR */
/* hexadecinaml value of the color property can be used to specify the shade of color */

#bootcamp-learning-list li {
    color: #759666;
}

/* GENERAL SIBLING SELECTOR is used to target the succeeding siblings of the first selector */
h2 ~ a {
    text-decoration: none;
}

/* CHILD SELECTOR can be used to select the chile fo the first selector or in this case the child of the selector that comes before it
SYNTAX: firstSelector>secondSelector
*/
/* color also accepts rgb value. the numbers in parentheses would range from 0 to 255 */
body>section>form>label{
    color:rgb(0,0,128);
}

body{
    background-color: skyblue;
}

html{
    scroll-behavior: smooth;
}

/* NAVIGATION */
nav {
    background-color: white;
}

/* pseudo element selector */
/* this will element style once the cursor hovers over it  /  a tag*/
a:hover {
    background-color: #b3d6de;
}

div {
    display: inline-block;
}

/* landing section */
section{
    /* vh- viewport height; the browser will be using 100% of the screen display */
    height: 100vh;
    text-align: center;
}

h2{
    /* rem- root element measurement it multiplies the value attached to it to the root element(html);default value would be 16px */
    font-size: 1.5rem;
}

ol{
        /* list style type changes the bullet style */
    list-style-type: none;
}

/* register section */
/* position - property that changes the postiion of the element based on a certain criteria

left-used along the position property to add a certain measurement to the left of the element

directions (l,r,t,b) - it is recommended to use only 2 of the directions; vertical top and bottom or horizontal (left and right) per selector

% as the value that would be based on the parent elemet

*/

form{
    text-align: center;
    background-color: white;
    border: 2px solid black;
    height: 185px;
    /* vw- viewport width */
    width: 25vw;
    position: relative;
    left: 37.25%
}

button{
    background-color: #cf0053;
    color: white;
    border:0;
    border-radius: 15px;
}