*{
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.external-style {
    color:yellow;
}

h1 {
    font-size: 50px;
}

#learning {
    text-transform: uppercase;
}

.language {
    background-color: lightgreen;
}

li[type]{
    border-style: solid;
    border-color: skyblue;
}


br + ul{
    list-style-type: none;
}



section ~ p {
    text-align: center;
}


section>ul>li {
    letter-spacing: 15px;
}

body img {
    border-radius: 250px;
    height: 100px;
    width: 100px;
}

